USE [master]
GO
/****** Object:  Database [PASC_RegionJ]    Script Date: 11/25/2025 1:37:45 AM ******/
CREATE DATABASE [PASC_RegionJ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PASC_RegionJ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PASC_RegionJ.mdf' , SIZE = 8192KB , MAXSIZE = 512000KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PASC_RegionJ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PASC_RegionJ_log.ldf' , SIZE = 5120KB , MAXSIZE = 5120KB , FILEGROWTH = 0)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PASC_RegionJ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PASC_RegionJ]
GO
/****** Object:  User [pasc_web]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE USER [pasc_web] FOR LOGIN [pasc_web] WITH DEFAULT_SCHEMA=[pasc_web]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [pasc_web]
GO
ALTER ROLE [db_datareader] ADD MEMBER [pasc_web]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [pasc_web]
GO
/****** Object:  Schema [pasc_web]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE SCHEMA [pasc_web]
GO
/****** Object:  Table [dbo].[admin_sessions]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_sessions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[session_id] [nvarchar](255) NOT NULL,
	[last_activity] [datetime] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_admin_sessions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admin_users]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](300) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[is_active] [bit] NOT NULL,
	[last_login] [datetime2](3) NULL,
	[created_at] [datetime2](3) NOT NULL,
	[role_id] [int] NULL,
	[must_change_password] [bit] NOT NULL,
	[password_changed_at] [datetime] NULL,
	[profile_picture] [nvarchar](255) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[announcements]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[announcements](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[publish_start] [datetime2](3) NOT NULL,
	[publish_end] [datetime2](3) NULL,
	[is_featured] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[display_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](50) NOT NULL,
	[table_name] [nvarchar](50) NOT NULL,
	[record_id] [int] NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ts_utc] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact_email_recipients]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact_email_recipients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[is_primary] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_contact_email_recipients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact_submissions]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact_submissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[subject] [nvarchar](100) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[submitted_at] [datetime] NOT NULL,
	[ip_address] [nvarchar](50) NULL,
	[status] [nvarchar](20) NOT NULL,
	[admin_notes] [nvarchar](max) NULL,
	[user_agent] [nvarchar](500) NULL,
 CONSTRAINT [PK_contact_submissions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documents]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[filename] [nvarchar](255) NOT NULL,
	[original_filename] [nvarchar](255) NOT NULL,
	[file_extension] [nvarchar](10) NOT NULL,
	[file_size] [int] NOT NULL,
	[document_type] [nvarchar](50) NULL,
	[is_active] [bit] NOT NULL,
	[display_order] [int] NOT NULL,
	[uploaded_by] [nvarchar](100) NULL,
	[uploaded_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forms]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[form_name] [nvarchar](100) NOT NULL,
	[form_description] [nvarchar](500) NULL,
	[embed_code] [nvarchar](max) NOT NULL,
	[is_active] [bit] NULL,
	[page_location] [nvarchar](50) NOT NULL,
	[display_order] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gallery]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gallery](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[filename] [nvarchar](255) NOT NULL,
	[original_filename] [nvarchar](255) NOT NULL,
	[file_extension] [nvarchar](10) NOT NULL,
	[file_size] [int] NOT NULL,
	[page_location] [nvarchar](50) NOT NULL,
	[is_active] [bit] NOT NULL,
	[display_order] [int] NOT NULL,
	[uploaded_by] [nvarchar](100) NULL,
	[uploaded_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[page_content]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[page_content](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[page_id] [nvarchar](50) NOT NULL,
	[section_id] [nvarchar](50) NOT NULL,
	[content_type] [nvarchar](20) NOT NULL,
	[content_text] [nvarchar](max) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [nvarchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[used_at] [datetime2](7) NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[permission_name] [nvarchar](100) NOT NULL,
	[permission_description] [nvarchar](255) NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_permissions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_role_permissions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[role_description] [nvarchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[settings]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[settings](
	[skey] [nvarchar](100) NOT NULL,
	[svalue] [nvarchar](max) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[skey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_activation_tokens]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_activation_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [nvarchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[activated_at] [datetime2](7) NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [pasc_web].[conference_schedule]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pasc_web].[conference_schedule](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[event_time] [varchar](50) NOT NULL,
	[event_icon] [nvarchar](10) NULL,
	[event_name] [varchar](255) NOT NULL,
	[event_description] [text] NULL,
	[display_order] [int] NOT NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[end_time] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin_sessions] ON 

INSERT [dbo].[admin_sessions] ([id], [user_id], [session_id], [last_activity], [created_at]) VALUES (277, 13, N'7A79C699-050C-CD75-513C3502E8CCD8F9', CAST(N'2025-11-21T01:57:56.190' AS DateTime), CAST(N'2025-11-21T01:57:56.190' AS DateTime))
INSERT [dbo].[admin_sessions] ([id], [user_id], [session_id], [last_activity], [created_at]) VALUES (278, 36, N'7AC64D3B-E219-1BC2-39DCB33FF07E59E2', CAST(N'2025-11-21T02:05:51.247' AS DateTime), CAST(N'2025-11-21T02:05:51.247' AS DateTime))
INSERT [dbo].[admin_sessions] ([id], [user_id], [session_id], [last_activity], [created_at]) VALUES (283, 36, N'8C960445-D7B4-0B6E-39C4B0D19BD8F42F', CAST(N'2025-11-21T10:30:42.077' AS DateTime), CAST(N'2025-11-21T10:23:53.133' AS DateTime))
SET IDENTITY_INSERT [dbo].[admin_sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[admin_users] ON 

INSERT [dbo].[admin_users] ([id], [username], [password_hash], [full_name], [email], [is_active], [last_login], [created_at], [role_id], [must_change_password], [password_changed_at], [profile_picture], [updated_at]) VALUES (1, N'admin', N'E0F2DFF7EA9467CCA3FDA40A6A99ADFF8B319746D7223C8C5ED22B639CC2BC91', N'Site Administrator', N'info@pascregionj.com', 1, CAST(N'2025-11-24T18:49:32.2630000' AS DateTime2), CAST(N'2025-10-25T22:12:08.8190000' AS DateTime2), 1, 0, CAST(N'2025-11-24T19:06:55.390' AS DateTime), N'1.jpg', CAST(N'2025-11-24T19:07:06.057' AS DateTime))
INSERT [dbo].[admin_users] ([id], [username], [password_hash], [full_name], [email], [is_active], [last_login], [created_at], [role_id], [must_change_password], [password_changed_at], [profile_picture], [updated_at]) VALUES (13, N'Rasti', N'D9BA27707DEE7C56910B4469FCFBC6C198E4D944C0981636BABB73BC61C72009', N'Rasti Toscak', N'admin@pascregionj.org', 1, CAST(N'2025-11-24T21:57:49.5670000' AS DateTime2), CAST(N'2025-11-02T10:53:56.5800000' AS DateTime2), 1, 0, CAST(N'2025-11-22T19:32:33.147' AS DateTime), N'13.jpg', CAST(N'2025-11-24T17:04:41.913' AS DateTime))
INSERT [dbo].[admin_users] ([id], [username], [password_hash], [full_name], [email], [is_active], [last_login], [created_at], [role_id], [must_change_password], [password_changed_at], [profile_picture], [updated_at]) VALUES (36, N'devadmin', N'1981BE963D61956CE6960B771F27429934CAC8D236FB5B94DE3B2A8BE66B3837', N'Dev Admin (Testing Account)', N'rasto@comcast.net', 1, CAST(N'2025-11-24T20:07:10.5970000' AS DateTime2), CAST(N'2025-11-21T01:56:17.7230000' AS DateTime2), 1, 0, NULL, N'36.jpg', CAST(N'2025-11-24T16:32:50.657' AS DateTime))
SET IDENTITY_INSERT [dbo].[admin_users] OFF
GO
SET IDENTITY_INSERT [dbo].[announcements] ON 

INSERT [dbo].[announcements] ([id], [title], [content], [publish_start], [publish_end], [is_featured], [is_active], [created_by], [created_at], [updated_at], [display_order]) VALUES (1, N'Welcome to the 2026 PASC Region J Conference! ', N'We’re excited to host this year’s leadership conference at Neshaminy High School! Stay tuned for workshop updates.', CAST(N'2025-11-01T00:00:00.0000000' AS DateTime2), NULL, 0, 1, 1, CAST(N'2025-10-25T22:12:08.8660000' AS DateTime2), CAST(N'2025-11-24T17:54:46.2100000' AS DateTime2), 1)
INSERT [dbo].[announcements] ([id], [title], [content], [publish_start], [publish_end], [is_featured], [is_active], [created_by], [created_at], [updated_at], [display_order]) VALUES (2, N'Conference Registration Opens January 5th!', N'Get ready! Registrations for this year''s Region J Conference open January 5, 2026. Spots are limited, so register early!', CAST(N'2025-11-03T00:00:00.0000000' AS DateTime2), NULL, 1, 1, NULL, CAST(N'2025-10-25T19:51:40.5000000' AS DateTime2), CAST(N'2025-11-18T20:30:45.5630000' AS DateTime2), 2)
INSERT [dbo].[announcements] ([id], [title], [content], [publish_start], [publish_end], [is_featured], [is_active], [created_by], [created_at], [updated_at], [display_order]) VALUES (4, N'Conference Theme: Navigating the Stars', N'This year’s theme celebrates leadership through a space-inspired experience. Get ready for an out-of-this-world conference! ', CAST(N'2025-11-05T00:00:00.0000000' AS DateTime2), NULL, 0, 1, NULL, CAST(N'2025-10-25T19:51:40.5000000' AS DateTime2), CAST(N'2025-11-24T16:33:37.8970000' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[announcements] OFF
GO
SET IDENTITY_INSERT [dbo].[contact_email_recipients] ON 

INSERT [dbo].[contact_email_recipients] ([id], [email], [is_primary], [is_active], [created_at]) VALUES (1, N'info@pascregionj.com', 1, 1, CAST(N'2025-10-31T09:28:57.447' AS DateTime))
INSERT [dbo].[contact_email_recipients] ([id], [email], [is_primary], [is_active], [created_at]) VALUES (2, N'rasto@comcast.net', 0, 1, CAST(N'2025-10-31T09:58:43.733' AS DateTime))
INSERT [dbo].[contact_email_recipients] ([id], [email], [is_primary], [is_active], [created_at]) VALUES (3, N'rastik1608@gmail.com', 0, 1, CAST(N'2025-10-31T10:17:21.797' AS DateTime))
SET IDENTITY_INSERT [dbo].[contact_email_recipients] OFF
GO
SET IDENTITY_INSERT [dbo].[contact_submissions] ON 

INSERT [dbo].[contact_submissions] ([id], [name], [email], [subject], [message], [submitted_at], [ip_address], [status], [admin_notes], [user_agent]) VALUES (1, N'Rastislav Tosca', N'rasto@comcast.net', N'Conference Registration', N'When the registration starts?', CAST(N'2025-10-31T09:34:52.810' AS DateTime), N'0:0:0:0:0:0:0:1', N'new', NULL, N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36')
INSERT [dbo].[contact_submissions] ([id], [name], [email], [subject], [message], [submitted_at], [ip_address], [status], [admin_notes], [user_agent]) VALUES (2, N'Rastislav Tosca', N'rasto@comcast.net', N'Conference Registration', N'When the registration starts?', CAST(N'2025-10-31T09:35:58.507' AS DateTime), N'0:0:0:0:0:0:0:1', N'replied', NULL, N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36')
INSERT [dbo].[contact_submissions] ([id], [name], [email], [subject], [message], [submitted_at], [ip_address], [status], [admin_notes], [user_agent]) VALUES (3, N'Rastislav Tosca', N'rasto@comcast.net', N'Conference Registration', N'When the registration starts?', CAST(N'2025-10-31T09:36:15.160' AS DateTime), N'0:0:0:0:0:0:0:1', N'archived', N'fgfgd', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36')
SET IDENTITY_INSERT [dbo].[contact_submissions] OFF
GO
SET IDENTITY_INSERT [dbo].[documents] ON 

SET IDENTITY_INSERT [dbo].[documents] OFF
GO
SET IDENTITY_INSERT [dbo].[forms] ON 

INSERT [dbo].[forms] ([id], [form_name], [form_description], [embed_code], [is_active], [page_location], [display_order], [created_at], [updated_at]) VALUES (1, N'Workshop Application', N'Apply to present a workshop at the 2026 PASC Region J Conference!', N'<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSehWyIeyrhodtJverQrhsDchwqChujSeTR1Y4M0YwGWi3fWFA/viewform?embedded=true" width="640" height="640" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>', 1, N'Workshops', 1, CAST(N'2025-10-25T23:30:05.930' AS DateTime), CAST(N'2025-11-24T16:53:36.833' AS DateTime))
INSERT [dbo].[forms] ([id], [form_name], [form_description], [embed_code], [is_active], [page_location], [display_order], [created_at], [updated_at]) VALUES (9, N'Registration', N'Welcome to out reg page !!!!', N'-<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSehWyIeyrhodtJverQrhsDchwqChujSeTR1Y4M0YwGWi3fWFA/viewform?embedded=true" width="1" height="1" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>', 0, N'Registration', 1, CAST(N'2025-10-27T22:48:42.067' AS DateTime), CAST(N'2025-11-24T16:37:25.310' AS DateTime))
SET IDENTITY_INSERT [dbo].[forms] OFF
GO
SET IDENTITY_INSERT [dbo].[gallery] ON 

INSERT [dbo].[gallery] ([id], [title], [filename], [original_filename], [file_extension], [file_size], [page_location], [is_active], [display_order], [uploaded_by], [uploaded_at], [updated_at]) VALUES (4, N'About Us - fb1', N'f1.jpg', N'f1.jpg', N'.jpg', 278307, N'about_page', 1, 1, N'admin', CAST(N'2025-10-28T10:14:30.410' AS DateTime), NULL)
INSERT [dbo].[gallery] ([id], [title], [filename], [original_filename], [file_extension], [file_size], [page_location], [is_active], [display_order], [uploaded_by], [uploaded_at], [updated_at]) VALUES (7, N'About Us - fb2v b', N'f2.jpg', N'f2.jpg', N'.jpg', 110855, N'about_page', 1, 4, N'admin', CAST(N'2025-10-28T10:16:12.483' AS DateTime), CAST(N'2025-10-31T12:33:28.837' AS DateTime))
INSERT [dbo].[gallery] ([id], [title], [filename], [original_filename], [file_extension], [file_size], [page_location], [is_active], [display_order], [uploaded_by], [uploaded_at], [updated_at]) VALUES (8, N'About Us - fb3', N'f3.jpg', N'f3.jpg', N'.jpg', 106560, N'about_page', 1, 2, N'admin', CAST(N'2025-10-28T10:16:41.947' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[gallery] OFF
GO
SET IDENTITY_INSERT [dbo].[page_content] ON 

INSERT [dbo].[page_content] ([id], [page_id], [section_id], [content_type], [content_text], [updated_by], [updated_at]) VALUES (1, N'home', N'hero_title', N'text', N'REACH FOR THE STARS', NULL, CAST(N'2025-10-25T22:12:08.8660000' AS DateTime2))
INSERT [dbo].[page_content] ([id], [page_id], [section_id], [content_type], [content_text], [updated_by], [updated_at]) VALUES (2, N'home', N'hero_subtitle', N'text', N'PASC Region J Leadership Conference 2026 - Lead Beyond Limits', NULL, CAST(N'2025-10-25T22:12:08.8660000' AS DateTime2))
INSERT [dbo].[page_content] ([id], [page_id], [section_id], [content_type], [content_text], [updated_by], [updated_at]) VALUES (3, N'home', N'hero_tagline', N'text', N'February 13, 2026 | Neshaminy High School', NULL, CAST(N'2025-10-25T22:12:08.8660000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[page_content] OFF
GO
SET IDENTITY_INSERT [dbo].[password_reset_tokens] ON 

INSERT [dbo].[password_reset_tokens] ([id], [user_id], [token], [created_at], [expires_at], [used_at], [ip_address], [user_agent]) VALUES (7, 13, N'3B1292701F80315703776A870A18BBD6E53236A99054EA71EE5626DF47C7B4B3', CAST(N'2025-11-19T15:07:48.8133333' AS DateTime2), CAST(N'2025-11-19T19:07:48.4080000' AS DateTime2), NULL, N'0:0:0:0:0:0:0:1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36')
INSERT [dbo].[password_reset_tokens] ([id], [user_id], [token], [created_at], [expires_at], [used_at], [ip_address], [user_agent]) VALUES (8, 13, N'CCDBA8DC66992AD9E48CF764373B4DDAC123CB213BEFCB45F5E35979FB74D743', CAST(N'2025-11-19T19:29:05.0933333' AS DateTime2), CAST(N'2025-11-19T23:29:04.6500000' AS DateTime2), NULL, N'0:0:0:0:0:0:0:1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36')
INSERT [dbo].[password_reset_tokens] ([id], [user_id], [token], [created_at], [expires_at], [used_at], [ip_address], [user_agent]) VALUES (9, 13, N'7F387C8DA4C30EAAEE1925D926418D0473799E7C24268CB5ED4D7E81A7B96742', CAST(N'2025-11-20T07:37:32.8400000' AS DateTime2), CAST(N'2025-11-20T11:37:32.5610000' AS DateTime2), NULL, N'0:0:0:0:0:0:0:1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36')
SET IDENTITY_INSERT [dbo].[password_reset_tokens] OFF
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([id], [permission_name], [permission_description], [created_at]) VALUES (1, N'content_management', N'Access to dashboard, announcements, forms, gallery, documents, and contact submissions', CAST(N'2025-10-31T20:24:17.700' AS DateTime))
INSERT [dbo].[permissions] ([id], [permission_name], [permission_description], [created_at]) VALUES (2, N'user_management', N'Access to user administration section (create, edit, delete users and manage roles)', CAST(N'2025-10-31T20:24:17.700' AS DateTime))
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[role_permissions] ON 

INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at]) VALUES (1, 1, 1, CAST(N'2025-10-31T20:24:17.737' AS DateTime))
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at]) VALUES (2, 1, 2, CAST(N'2025-10-31T20:24:17.740' AS DateTime))
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at]) VALUES (3, 2, 1, CAST(N'2025-10-31T20:24:17.740' AS DateTime))
SET IDENTITY_INSERT [dbo].[role_permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [role_name], [role_description], [is_active], [created_at]) VALUES (1, N'Admin', N'Full system access including user management', 1, CAST(N'2025-10-31T20:24:17.653' AS DateTime))
INSERT [dbo].[roles] ([id], [role_name], [role_description], [is_active], [created_at]) VALUES (2, N'Content Manager', N'Manage all content sections (announcements, forms, gallery, documents, contacts)', 1, CAST(N'2025-10-31T20:24:17.657' AS DateTime))
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
INSERT [dbo].[settings] ([skey], [svalue], [updated_at]) VALUES (N'conference_date', N'2026-02-13', CAST(N'2025-10-25T22:12:08.8350000' AS DateTime2))
INSERT [dbo].[settings] ([skey], [svalue], [updated_at]) VALUES (N'conference_location', N'Neshaminy High School', CAST(N'2025-10-25T22:12:08.8350000' AS DateTime2))
INSERT [dbo].[settings] ([skey], [svalue], [updated_at]) VALUES (N'conference_time', N'10:30 AM - 4:00 PM', CAST(N'2025-10-25T22:12:08.8350000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[user_activation_tokens] ON 

INSERT [dbo].[user_activation_tokens] ([id], [user_id], [token], [created_at], [expires_at], [activated_at], [ip_address], [user_agent]) VALUES (14, 51, N'7142719AC68026EA45B9000EF5974ADDFB2EB47E6ADF0854494570F4DCEB0BBE', CAST(N'2025-11-24T18:28:09.9900000' AS DateTime2), CAST(N'2025-11-25T18:28:09.9900000' AS DateTime2), CAST(N'2025-11-24T18:38:22.4000000' AS DateTime2), N'108.52.205.152', N'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/26.0.1 Safari/605.1.15')
INSERT [dbo].[user_activation_tokens] ([id], [user_id], [token], [created_at], [expires_at], [activated_at], [ip_address], [user_agent]) VALUES (16, 53, N'654802A0534304861E2DD9985521B388C45CF687C3878F562E9F5596394470FA', CAST(N'2025-11-24T22:12:21.5700000' AS DateTime2), CAST(N'2025-11-25T22:12:21.5700000' AS DateTime2), CAST(N'2025-11-24T22:13:09.9400000' AS DateTime2), N'72.76.203.71', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36')
SET IDENTITY_INSERT [dbo].[user_activation_tokens] OFF
GO
SET IDENTITY_INSERT [pasc_web].[conference_schedule] ON 

INSERT [pasc_web].[conference_schedule] ([schedule_id], [event_time], [event_icon], [event_name], [event_description], [display_order], [is_active], [created_date], [modified_date], [end_time]) VALUES (1, N'10:15 AM', N'📋', N'Registration & Check-In', N'Welcome to the conference! Pick up your materials and connect with fellow leaders.', 1, 1, CAST(N'2025-11-23T17:30:09.707' AS DateTime), CAST(N'2025-11-24T18:01:51.570' AS DateTime), N'10:45 AM')
INSERT [pasc_web].[conference_schedule] ([schedule_id], [event_time], [event_icon], [event_name], [event_description], [display_order], [is_active], [created_date], [modified_date], [end_time]) VALUES (2, N'10:45 AM', N'🎤', N'General Session 1', N'Kick off the day with inspiring messages and an overview of the conference.', 2, 1, CAST(N'2025-11-23T17:30:09.707' AS DateTime), CAST(N'2025-11-24T18:01:51.573' AS DateTime), N'12:00 PM')
INSERT [pasc_web].[conference_schedule] ([schedule_id], [event_time], [event_icon], [event_name], [event_description], [display_order], [is_active], [created_date], [modified_date], [end_time]) VALUES (3, N'12:10 PM', N'🎯', N'Workshop/Lunch Rotation 1', N'Engage in interactive workshops designed to develop your leadership skills.', 3, 1, CAST(N'2025-11-23T17:30:09.707' AS DateTime), CAST(N'2025-11-24T18:01:51.573' AS DateTime), N'12:40 PM')
SET IDENTITY_INSERT [pasc_web].[conference_schedule] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_admin_sessions_session_id]    Script Date: 11/25/2025 1:37:46 AM ******/
ALTER TABLE [dbo].[admin_sessions] ADD  CONSTRAINT [UQ_admin_sessions_session_id] UNIQUE NONCLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_admin_sessions_last_activity]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_admin_sessions_last_activity] ON [dbo].[admin_sessions]
(
	[last_activity] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_admin_sessions_user_id]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_admin_sessions_user_id] ON [dbo].[admin_sessions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__admin_us__F3DBC57268875BEB]    Script Date: 11/25/2025 1:37:46 AM ******/
ALTER TABLE [dbo].[admin_users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_admin_users_is_active]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_admin_users_is_active] ON [dbo].[admin_users]
(
	[is_active] ASC
)
INCLUDE([username],[full_name],[email],[role_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_admin_users_role_id]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_admin_users_role_id] ON [dbo].[admin_users]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_announcements_list]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_announcements_list] ON [dbo].[announcements]
(
	[is_active] ASC,
	[publish_start] DESC
)
INCLUDE([title],[is_featured],[publish_end]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_audit_lookup]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_audit_lookup] ON [dbo].[audit_log]
(
	[table_name] ASC,
	[record_id] ASC,
	[ts_utc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_contact_email_recipients_email]    Script Date: 11/25/2025 1:37:46 AM ******/
ALTER TABLE [dbo].[contact_email_recipients] ADD  CONSTRAINT [UQ_contact_email_recipients_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_contact_submissions_email]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_contact_submissions_email] ON [dbo].[contact_submissions]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_contact_submissions_status]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_contact_submissions_status] ON [dbo].[contact_submissions]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_contact_submissions_submitted_at]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_contact_submissions_submitted_at] ON [dbo].[contact_submissions]
(
	[submitted_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_display_order]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_documents_display_order] ON [dbo].[documents]
(
	[display_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_documents_document_type]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_documents_document_type] ON [dbo].[documents]
(
	[document_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_is_active]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_documents_is_active] ON [dbo].[documents]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_gallery_display_order]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_gallery_display_order] ON [dbo].[gallery]
(
	[display_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_gallery_is_active]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_gallery_is_active] ON [dbo].[gallery]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_gallery_page_location]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_gallery_page_location] ON [dbo].[gallery]
(
	[page_location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_page_section]    Script Date: 11/25/2025 1:37:46 AM ******/
ALTER TABLE [dbo].[page_content] ADD  CONSTRAINT [UQ_page_section] UNIQUE NONCLUSTERED 
(
	[page_id] ASC,
	[section_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__password__CA90DA7A9838FB5E]    Script Date: 11/25/2025 1:37:46 AM ******/
ALTER TABLE [dbo].[password_reset_tokens] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_password_reset_tokens_expires_at]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_password_reset_tokens_expires_at] ON [dbo].[password_reset_tokens]
(
	[expires_at] ASC
)
WHERE ([used_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_password_reset_tokens_token]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_password_reset_tokens_token] ON [dbo].[password_reset_tokens]
(
	[token] ASC
)
INCLUDE([user_id],[expires_at],[used_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_password_reset_tokens_user_id]    Script Date: 11/25/2025 1:37:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_password_reset_tokens_user_id] ON [dbo].[password_reset_tokens]
(
	[user_id] ASC
)
INCLUDE([created_at],[expires_at],[used_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_permissions_permission_name]    Script Date: 11/25/2025 1:37:46 AM ******/
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [UQ_permissions_permission_name] UNIQUE NONCLUSTERED 
(
	[permission_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_role_permissions]    Script Date: 11/25/2025 1:37:46 AM ******/
ALTER TABLE [dbo].[role_permissions] ADD  CONSTRAINT [UQ_role_permissions] UNIQUE NONCLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_roles_role_name]    Script Date: 11/25/2025 1:37:46 AM ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UQ_roles_role_name] UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user_act__CA90DA7AF0C48D6F]    Script Date: 11/25/2025 1:37:46 AM ******/
ALTER TABLE [dbo].[user_activation_tokens] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin_sessions] ADD  DEFAULT (getdate()) FOR [last_activity]
GO
ALTER TABLE [dbo].[admin_sessions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[admin_users] ADD  CONSTRAINT [DF_admin_users_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[admin_users] ADD  CONSTRAINT [DF_admin_users_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[admin_users] ADD  DEFAULT ((0)) FOR [must_change_password]
GO
ALTER TABLE [dbo].[admin_users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[announcements] ADD  CONSTRAINT [DF_announce_featured]  DEFAULT ((0)) FOR [is_featured]
GO
ALTER TABLE [dbo].[announcements] ADD  CONSTRAINT [DF_announce_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[announcements] ADD  CONSTRAINT [DF_announce_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[announcements] ADD  CONSTRAINT [DF_announce_updated]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[audit_log] ADD  CONSTRAINT [DF_audit_ts]  DEFAULT (sysutcdatetime()) FOR [ts_utc]
GO
ALTER TABLE [dbo].[contact_email_recipients] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[contact_email_recipients] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[contact_email_recipients] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[contact_submissions] ADD  DEFAULT (getdate()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[contact_submissions] ADD  DEFAULT ('new') FOR [status]
GO
ALTER TABLE [dbo].[documents] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[documents] ADD  DEFAULT ((1)) FOR [display_order]
GO
ALTER TABLE [dbo].[documents] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[gallery] ADD  DEFAULT ('gallery') FOR [page_location]
GO
ALTER TABLE [dbo].[gallery] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[gallery] ADD  DEFAULT ((1)) FOR [display_order]
GO
ALTER TABLE [dbo].[gallery] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[page_content] ADD  CONSTRAINT [DF_page_content_type]  DEFAULT ('text') FOR [content_type]
GO
ALTER TABLE [dbo].[page_content] ADD  CONSTRAINT [DF_page_content_updated]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[settings] ADD  CONSTRAINT [DF_settings_updated]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user_activation_tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [pasc_web].[conference_schedule] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [pasc_web].[conference_schedule] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [pasc_web].[conference_schedule] ADD  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[admin_sessions]  WITH CHECK ADD  CONSTRAINT [FK_admin_sessions_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[admin_users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_sessions] CHECK CONSTRAINT [FK_admin_sessions_user]
GO
ALTER TABLE [dbo].[admin_users]  WITH CHECK ADD  CONSTRAINT [FK_admin_users_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[admin_users] CHECK CONSTRAINT [FK_admin_users_role]
GO
ALTER TABLE [dbo].[announcements]  WITH CHECK ADD  CONSTRAINT [FK_announcements_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[admin_users] ([id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[announcements] CHECK CONSTRAINT [FK_announcements_created_by]
GO
ALTER TABLE [dbo].[page_content]  WITH CHECK ADD  CONSTRAINT [FK_page_content_updated_by] FOREIGN KEY([updated_by])
REFERENCES [dbo].[admin_users] ([id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[page_content] CHECK CONSTRAINT [FK_page_content_updated_by]
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD  CONSTRAINT [FK_password_reset_tokens_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[admin_users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[password_reset_tokens] CHECK CONSTRAINT [FK_password_reset_tokens_user_id]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_permission] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_permission]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_role]
GO
ALTER TABLE [dbo].[user_activation_tokens]  WITH CHECK ADD  CONSTRAINT [FK_user_activation_tokens_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[admin_users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_activation_tokens] CHECK CONSTRAINT [FK_user_activation_tokens_user_id]
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD  CONSTRAINT [CK_password_reset_tokens_expiry] CHECK  (([expires_at]>[created_at]))
GO
ALTER TABLE [dbo].[password_reset_tokens] CHECK CONSTRAINT [CK_password_reset_tokens_expiry]
GO
/****** Object:  StoredProcedure [dbo].[sp_cleanup_expired_reset_tokens]    Script Date: 11/25/2025 1:37:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create stored procedure to clean up expired tokens
CREATE   PROCEDURE [dbo].[sp_cleanup_expired_reset_tokens]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @deleted_count INT;
    
    -- Delete expired and used tokens older than 7 days
    DELETE FROM dbo.password_reset_tokens
    WHERE (expires_at < GETDATE() OR used_at IS NOT NULL)
        AND created_at < DATEADD(DAY, -7, GETDATE());
    
    SET @deleted_count = @@ROWCOUNT;
    
    -- Return number of deleted tokens
    SELECT @deleted_count AS TokensDeleted;
END;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cleans up expired and used password reset tokens older than 7 days' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'sp_cleanup_expired_reset_tokens'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique token sent to user via email for password reset' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'password_reset_tokens', @level2type=N'COLUMN',@level2name=N'token'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Timestamp when token was used (NULL if not yet used)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'password_reset_tokens', @level2type=N'COLUMN',@level2name=N'used_at'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Stores one-time password reset tokens with 24-hour expiration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'password_reset_tokens'
GO
USE [master]
GO
